.panel-namespace-tree
    height "calc(100% - %s)" % header-height
    width 25%
    max-width 25em
    margin 0
    float left
    overflow auto

    .fa-ul
        margin-left 1.5em
    > .fa-ul
        font-size: 1.2em
    .fa-li
        font-size 0.9em
    li 
        margin-bottom 0.6em
    li:first-child
        margin-top 0.6em


