.panel-unit-editor

    height "calc(100% - %s)" % header-height
    width 75%
    max-width 50em
    overflow auto

    .unit
        position relative
        box()
        padding 0.7em
        margin 0.5em
        border-radius 4px

        h4, .unit-editor
            margin-bottom 0.5em

        .unit-close
            margin-right .5em
            font-size 1.2em
            color basic-font-color

            &:hover, &:focus
                color highlight-font-color
                cursor pointer

        .unit-toggle
            position absolute
            top 0.7em
            right 0.7em

            > a
                opacity 0
                fade()
                margin-right .5em
                &.blue
                    color basic-font-color
                &.green
                    color green-font-color
                &.gray
                    color gray-font-color
                &:hover
                    color white

            .unit-toggle-icon
                opacity 0.8
                fade()

            &:hover
                > a
                    opacity 1
                > .unit-toggle-icon
                    opacity 0.5

        .unit-actions
            margin-top 0.7em
            text-align right

        .unit-extra-actions
            display inline-block

            > button
                opacity 0
                fade()

            > .unit-extra-actions-icon
                display inline-block
                height 100%
                line-height 100%
                padding 0 0.3em
                opacity 0.6
                fade()

            &:hover
                > button
                    opacity 1
                > .unit-extra-actions-icon
                    opacity 0

        .unit-dependencies
            margin-bottom 0.7em
            position relative
            min-height 1.4em

            > .unit-dependency-add
                opacity 0
                color green-font-color
                position absolute
                bottom 5px
                left 26.5em
                fade()

                &:first-child
                    left 0
                    opacity 0.7

                &:hover, &:first-child:hover
                    opacity 1

            &:hover > .unit-dependency-add
                opacity 0.7

        .unit-dependency-item
            position relative

            & + .unit-dependency-item
                margin-top 0.5em

            > .unit-dependency-path
                width 14em

            > .unit-dependency-alias
                width 9em

            > .unit-dependency-selection
                width 14em
                top 1.7em

            > .unit-dependency-delete
                opacity 0
                margin-left 0.5em
                fade()

            &:hover > .unit-dependency-delete
                opacity 0.7
                &:hover
                    opacity 1



