.hidden
    display none


.btn
    display inline-block
    height 100%
    padding 0 1em
    margin 0
    border-top 1px solid rgba(white, 0.15)
    border-left 1px solid rgba(white, 0.15)
    border-right 1px solid rgba(black, 0.3)
    border-bottom 1px solid rgba(black, 0.3)
    background rgba(white, 0.06)
    color basic-font-color
    outline none


.btn-group
    display inline-block
    border-left 5px solid signal-color


.btn-green
    background rgba(green-font-color, 0.5)


.btn-blue
    background rgba(signal-color, 0.4)


.btn-red
    background rgba(red, 0.3)


.input
    border none
    padding 0.2em 0.5em
    margin 0
    border-radius 4px
    color basic-font-color
    box-inset()
    background-color rgba(black, 0.2)


.dropdown
    position absolute
    top 100%
    left 0
    padding 0.2em 0
    background rgba(black, 0.9)
    border-radius bottom 4px
    box()
    z-index 1000

    > li
        padding 0.2em 0.5em
        &:hover
            background rgba(white, 0.3)
        a
            display block
            width 100%
            height 100%


.active
    color basic-font-color
    &.fa
        opacity 0.7

    &:hover
        color highlight-font-color
        cursor pointer
        &.fa
            opacity 0.8

