input[type=text], input[type=email], input[type=password], .input
    line-height inherit
    outline none
    border none
    padding 0.2em 0.5em
    margin 0
    border-radius 2px
    box-inset()
    background-color rgba(black, 0.2)


button
    @extends .btn, .active
    line-height inherit


.form-group
    width 100%
    line-height 1.7em

    &.form-right
        text-align right

    & + &
        margin-top 0.7em

    label
        display block
        margin-bottom 0.5em
        opacity 0.7

    .btn-group
        margin-top 0.7em




