#app-header
    position relative
    min-height header-height
    background rgba(0, 0, 0, 0.4)
    box-shadow 0 3px 3px rgba(black, 0.5)
    z-index 10
    clearfix()

    .app-logo
        width header-height
        height header-height
        padding 1em
        float left

    .project-title
        display inline-block
        float left

    .main-menu
        display inline-block
        text-align right
        float right
        height 100%
        text-align left
        clearfix()

        > *
            height 100%

        .btn
            line-height header-height

            > .fa-caret-down
                padding-left 0.5em


    .user-widget
        display inline-block

        &:hover
            color highlight-font-color


    .main-menu .btn
    .user-widget
        position relative

        .sub-menu
            display none
            right 0
            left -4em
            line-height 2em

        .user-icon:hover > .sub-menu
            display block

