main
    display block
    position relative
    height "calc(100% - %s - 1em)" % header-height
    width auto
    z-index 0
    overflow-x auto


    .row
        position relative
        height 100%
        float left
        overflow-y auto

        .row-resizer
            position absolute
            width 1em
            height 100%
            top 0
            right 0
            background rgba(black, 0.1)

            i 
                color rgba(black, 0.3)
                font-size 1.5em
                position absolute
                top 0
                left 0
                right 0
                bottom 0
                margin auto
                height 1em
                text-align center


    .panel 
        margin 1em
