@import "nib"
@import "typo"
@import "mixins"
@import "variables"

global-reset()

*, *:after, *:before
    box-sizing border-box


html, body, #app-view, #app-root
    height 100%


body, input, button
    color basic-font-color
    font-family serif-font-family
    font-size 16px


body
    background standard-background
    line-height 1.4


a
    color signal-color
    text-decoration none

    &:hover, &:focus
        color white
    &:visited
        color signal-color


.CodeMirror
    font-family mono-font-family
    line-height 1.5em
    font-size 15px
    height auto
    width 100%
    overflow hidden
    border-radius 5px
    box-inset()

    &.cm-s-monokai
        background-color rgba(black, 0.2)

        .CodeMirror-gutters
            background-color rgba(white, 0.1)
            z-index -1


.CodeMirror-scroll
    overflow-y hidden
    overflow-x auto


// Components
@import "components"
@import "form"
@import "header"
@import "layout"
@import "modal"
@import "panels/namespace-tree"
@import "panels/unit-editor"
