box-inset()
    border-bottom solid 1px rgba(white, 0.15)
    box-shadow 0 3px 4px rgba(black, 0.3) inset


box()
    border-top solid 1px rgba(white, 0.15)
    box-shadow 0 3px 4px rgba(black, 0.3)


fade()
    transition opacity 0.2s


absolute-center()
    position absolute
    width auto
    height auto
    top 50%
    left 50%
    transform translate(-50%, -50%)
    margin auto
