.modal
    display none
    position fixed
    width 100%
    height 100%
    top 0
    bottom 0
    right 0
    left 0
    background-color rgba(black, 0.5)
    vertical-align middle

    &.open
        display block
        z-index 1000

    .modal-close
        position absolute
        right 0
        top -2em

    .modal-container
        border-top 1px solid rgba(white, 0.15)
        position relative
        absolute-center()
        background rgba(white, 0.1)
        padding 1em
        // border-radius 2px
        box-shadow 0 15px 25px rgba(black, 0.3)




