@font-face
    font-family 'Source Sans Pro'
    src url(../fonts/SourceSansPro-Regular.ttf.woff)
    src url(../fonts/SourceSansPro-Regular.otf.woff)
    src url(../fonts/SourceSansPro-Regular.eot)
    src url(../fonts/SourceSansPro-Regular.svg)

@font-face
    font-family 'Source Sans Pro'
    src url(../fonts/SourceSansPro-Bold.ttf.woff)
    src url(../fonts/SourceSansPro-Bold.otf.woff)
    src url(../fonts/SourceSansPro-Bold.eot)
    src url(../fonts/SourceSansPro-Bold.svg)
    font-weight bold

@font-face
    font-family 'Source Sans Pro'
    src url(../fonts/SourceSansPro-It.ttf.woff)
    src url(../fonts/SourceSansPro-It.otf.woff)
    src url(../fonts/SourceSansPro-It.eot)
    src url(../fonts/SourceSansPro-It.svg)
    font-style italic

@font-face
    font-family 'Source Sans Pro'
    src url(../fonts/SourceSansPro-BoldIt.ttf.woff)
    src url(../fonts/SourceSansPro-BoldIt.otf.woff)
    src url(../fonts/SourceSansPro-BoldIt.eot)
    src url(../fonts/SourceSansPro-BoldIt.svg)
    font-style italic
    font-weight bold

@font-face
    font-family 'Source Code Pro'
    src url(../fonts/SourceCodePro-Regular.ttf.woff)
    src url(../fonts/SourceCodePro-Regular.otf.woff)
    src url(../fonts/SourceCodePro-Regular.eot)
    src url(../fonts/SourceCodePro-Regular.svg)

@font-face
    font-family 'Source Code Pro'
    src url(../fonts/SourceCodePro-Bold.ttf.woff)
    src url(../fonts/SourceCodePro-Bold.otf.woff)
    src url(../fonts/SourceCodePro-Bold.eot)
    src url(../fonts/SourceCodePro-Bold.svg)
    font-weight bold

@font-face
    font-family 'Source Code Pro'
    src url(../fonts/SourceCodePro-It.ttf.woff)
    src url(../fonts/SourceCodePro-It.otf.woff)
    src url(../fonts/SourceCodePro-It.eot)
    src url(../fonts/SourceCodePro-It.svg)
    font-style italic

@font-face
    font-family 'Source Code Pro'
    src url(../fonts/SourceCodePro-BoldIt.ttf.woff)
    src url(../fonts/SourceCodePro-BoldIt.otf.woff)
    src url(../fonts/SourceCodePro-BoldIt.eot)
    src url(../fonts/SourceCodePro-BoldIt.svg)
    font-style italic
    font-weight bold
