standard-background = #444 url("../images/background.png") repeat
basic-font-color = #ccc
signal-color = rgb(50, 200, 225)
highlight-font-color = white

green-font-color = rgb(100, 200, 100)
gray-font-color = #777

serif-font-family = "Source Sans Pro", Arial, Helvetica, sans-serif
mono-font-family = "Source Code Pro" "Lucida Console", Monaco, monospace

header-height = 3em
