@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.ttf.woff");
  src: url("../fonts/SourceSansPro-Regular.otf.woff");
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.svg");
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold.ttf.woff");
  src: url("../fonts/SourceSansPro-Bold.otf.woff");
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.svg");
  font-weight: bold;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-It.ttf.woff");
  src: url("../fonts/SourceSansPro-It.otf.woff");
  src: url("../fonts/SourceSansPro-It.eot");
  src: url("../fonts/SourceSansPro-It.svg");
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-BoldIt.ttf.woff");
  src: url("../fonts/SourceSansPro-BoldIt.otf.woff");
  src: url("../fonts/SourceSansPro-BoldIt.eot");
  src: url("../fonts/SourceSansPro-BoldIt.svg");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-Regular.ttf.woff");
  src: url("../fonts/SourceCodePro-Regular.otf.woff");
  src: url("../fonts/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro-Regular.svg");
}
@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-Bold.ttf.woff");
  src: url("../fonts/SourceCodePro-Bold.otf.woff");
  src: url("../fonts/SourceCodePro-Bold.eot");
  src: url("../fonts/SourceCodePro-Bold.svg");
  font-weight: bold;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-It.ttf.woff");
  src: url("../fonts/SourceCodePro-It.otf.woff");
  src: url("../fonts/SourceCodePro-It.eot");
  src: url("../fonts/SourceCodePro-It.svg");
  font-style: italic;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url("../fonts/SourceCodePro-BoldIt.ttf.woff");
  src: url("../fonts/SourceCodePro-BoldIt.otf.woff");
  src: url("../fonts/SourceCodePro-BoldIt.eot");
  src: url("../fonts/SourceCodePro-BoldIt.svg");
  font-style: italic;
  font-weight: bold;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
#app-view,
#app-root {
  height: 100%;
}
body,
input,
button {
  color: #ccc;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body {
  background: #444 url("../images/background.png") repeat;
  line-height: 1.4;
}
a {
  color: #32c8e1;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
}
a:visited {
  color: #32c8e1;
}
.CodeMirror {
  font-family: "Source Code Pro" "Lucida Console", Monaco, monospace;
  line-height: 1.5em;
  font-size: 15px;
  height: auto;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-bottom: solid 1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3) inset;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3) inset;
}
.CodeMirror.cm-s-monokai {
  background-color: rgba(0,0,0,0.2);
}
.CodeMirror.cm-s-monokai .CodeMirror-gutters {
  background-color: rgba(255,255,255,0.1);
  z-index: -1;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.hidden {
  display: none;
}
.btn,
button {
  display: inline-block;
  height: 100%;
  padding: 0 1em;
  margin: 0;
  border-top: 1px solid rgba(255,255,255,0.15);
  border-left: 1px solid rgba(255,255,255,0.15);
  border-right: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.06);
  color: #ccc;
  outline: none;
}
.btn-group {
  display: inline-block;
  border-left: 5px solid #32c8e1;
}
.btn-green {
  background: rgba(100,200,100,0.5);
}
.btn-blue {
  background: rgba(50,200,225,0.4);
}
.btn-red {
  background: rgba(255,0,0,0.3);
}
.input {
  border: none;
  padding: 0.2em 0.5em;
  margin: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #ccc;
  border-bottom: solid 1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3) inset;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3) inset;
  background-color: rgba(0,0,0,0.2);
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.2em 0;
  background: rgba(0,0,0,0.9);
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: solid 1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  z-index: 1000;
}
.dropdown > li {
  padding: 0.2em 0.5em;
}
.dropdown > li:hover {
  background: rgba(255,255,255,0.3);
}
.dropdown > li a {
  display: block;
  width: 100%;
  height: 100%;
}
.active,
button {
  color: #ccc;
}
.active.fa,
button.fa {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.active:hover,
button:hover {
  color: #fff;
  cursor: pointer;
}
.active:hover.fa,
button:hover.fa {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
input[type=text],
input[type=email],
input[type=password],
.input {
  line-height: inherit;
  outline: none;
  border: none;
  padding: 0.2em 0.5em;
  margin: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-bottom: solid 1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3) inset;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3) inset;
  background-color: rgba(0,0,0,0.2);
}
button {
  line-height: inherit;
}
.form-group {
  width: 100%;
  line-height: 1.7em;
}
.form-group.form-right {
  text-align: right;
}
.form-group + .form-group {
  margin-top: 0.7em;
}
.form-group label {
  display: block;
  margin-bottom: 0.5em;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.form-group .btn-group {
  margin-top: 0.7em;
}
#app-header {
  position: relative;
  min-height: 3em;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  z-index: 10;
  zoom: 1;
}
#app-header:before,
#app-header:after {
  content: "";
  display: table;
}
#app-header:after {
  clear: both;
}
#app-header .app-logo {
  width: 3em;
  height: 3em;
  padding: 1em;
  float: left;
}
#app-header .project-title {
  display: inline-block;
  float: left;
}
#app-header .main-menu {
  display: inline-block;
  text-align: right;
  float: right;
  height: 100%;
  text-align: left;
  zoom: 1;
}
#app-header .main-menu:before,
#app-header .main-menu:after {
  content: "";
  display: table;
}
#app-header .main-menu:after {
  clear: both;
}
#app-header .main-menu > * {
  height: 100%;
}
#app-header .main-menu .btn {
  line-height: 3em;
}
#app-header .main-menu .btn > .fa-caret-down {
  padding-left: 0.5em;
}
#app-header .user-widget {
  display: inline-block;
}
#app-header .user-widget:hover {
  color: #fff;
}
#app-header .main-menu .btn,
#app-header .user-widget {
  position: relative;
}
#app-header .main-menu .btn .sub-menu,
#app-header .user-widget .sub-menu {
  display: none;
  right: 0;
  left: -4em;
  line-height: 2em;
}
#app-header .main-menu .btn .user-icon:hover > .sub-menu,
#app-header .user-widget .user-icon:hover > .sub-menu {
  display: block;
}
main {
  display: block;
  position: relative;
  height: calc(100% - 3em - 1em);
  width: auto;
  z-index: 0;
  overflow-x: auto;
}
main .row {
  position: relative;
  height: 100%;
  float: left;
  overflow-y: auto;
}
main .row .row-resizer {
  position: absolute;
  width: 1em;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.1);
}
main .row .row-resizer i {
  color: rgba(0,0,0,0.3);
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  text-align: center;
}
main .panel {
  margin: 1em;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  vertical-align: middle;
}
.modal.open {
  display: block;
  z-index: 1000;
}
.modal .modal-close {
  position: absolute;
  right: 0;
  top: -2em;
}
.modal .modal-container {
  border-top: 1px solid rgba(255,255,255,0.15);
  position: relative;
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  background: rgba(255,255,255,0.1);
  padding: 1em;
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}
.panel-namespace-tree {
  height: calc(100% - 3em);
  width: 25%;
  max-width: 25em;
  margin: 0;
  float: left;
  overflow: auto;
}
.panel-namespace-tree .fa-ul {
  margin-left: 1.5em;
}
.panel-namespace-tree > .fa-ul {
  font-size: 1.2em;
}
.panel-namespace-tree .fa-li {
  font-size: 0.9em;
}
.panel-namespace-tree li {
  margin-bottom: 0.6em;
}
.panel-namespace-tree li:first-child {
  margin-top: 0.6em;
}
.panel-unit-editor {
  height: calc(100% - 3em);
  width: 75%;
  max-width: 50em;
  overflow: auto;
}
.panel-unit-editor .unit {
  position: relative;
  border-top: solid 1px rgba(255,255,255,0.15);
  -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);
  padding: 0.7em;
  margin: 0.5em;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.panel-unit-editor .unit h4,
.panel-unit-editor .unit .unit-editor {
  margin-bottom: 0.5em;
}
.panel-unit-editor .unit .unit-close {
  margin-right: 0.5em;
  font-size: 1.2em;
  color: #ccc;
}
.panel-unit-editor .unit .unit-close:hover,
.panel-unit-editor .unit .unit-close:focus {
  color: #fff;
  cursor: pointer;
}
.panel-unit-editor .unit .unit-toggle {
  position: absolute;
  top: 0.7em;
  right: 0.7em;
}
.panel-unit-editor .unit .unit-toggle > a {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  margin-right: 0.5em;
}
.panel-unit-editor .unit .unit-toggle > a.blue {
  color: #ccc;
}
.panel-unit-editor .unit .unit-toggle > a.green {
  color: #64c864;
}
.panel-unit-editor .unit .unit-toggle > a.gray {
  color: #777;
}
.panel-unit-editor .unit .unit-toggle > a:hover {
  color: #fff;
}
.panel-unit-editor .unit .unit-toggle .unit-toggle-icon {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.panel-unit-editor .unit .unit-toggle:hover > a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.panel-unit-editor .unit .unit-toggle:hover > .unit-toggle-icon {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.panel-unit-editor .unit .unit-actions {
  margin-top: 0.7em;
  text-align: right;
}
.panel-unit-editor .unit .unit-extra-actions {
  display: inline-block;
}
.panel-unit-editor .unit .unit-extra-actions > button {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.panel-unit-editor .unit .unit-extra-actions > .unit-extra-actions-icon {
  display: inline-block;
  height: 100%;
  line-height: 100%;
  padding: 0 0.3em;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.panel-unit-editor .unit .unit-extra-actions:hover > button {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.panel-unit-editor .unit .unit-extra-actions:hover > .unit-extra-actions-icon {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.panel-unit-editor .unit .unit-dependencies {
  margin-bottom: 0.7em;
  position: relative;
  min-height: 1.4em;
}
.panel-unit-editor .unit .unit-dependencies > .unit-dependency-add {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  color: #64c864;
  position: absolute;
  bottom: 5px;
  left: 26.5em;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.panel-unit-editor .unit .unit-dependencies > .unit-dependency-add:first-child {
  left: 0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.panel-unit-editor .unit .unit-dependencies > .unit-dependency-add:hover,
.panel-unit-editor .unit .unit-dependencies > .unit-dependency-add:first-child:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.panel-unit-editor .unit .unit-dependencies:hover > .unit-dependency-add {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.panel-unit-editor .unit .unit-dependency-item {
  position: relative;
}
.panel-unit-editor .unit .unit-dependency-item + .unit-dependency-item {
  margin-top: 0.5em;
}
.panel-unit-editor .unit .unit-dependency-item > .unit-dependency-path {
  width: 14em;
}
.panel-unit-editor .unit .unit-dependency-item > .unit-dependency-alias {
  width: 9em;
}
.panel-unit-editor .unit .unit-dependency-item > .unit-dependency-selection {
  width: 14em;
  top: 1.7em;
}
.panel-unit-editor .unit .unit-dependency-item > .unit-dependency-delete {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin-left: 0.5em;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.panel-unit-editor .unit .unit-dependency-item:hover > .unit-dependency-delete {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.panel-unit-editor .unit .unit-dependency-item:hover > .unit-dependency-delete:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
